:root {
    --Wtext-color: #ffffff;
    --h3text-color: #4B4B4B;
    --gr-text-color: #9EAF7C;
    --Btext-color: #000;
    font-size: 62.5%;

}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/philosopher-v19-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/philosopher-v19-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
}












.Logo {
    margin-right: 190px;
}





.burger-checkbox {
    position: absolute;
    visibility: hidden;
  
  }
  .burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;


  
    width: 50px;
    height: 50px;
  
   
    border-radius: 100px;
    background: var(--gr-text-color);

    margin-top: -40px;

    position: relative;
    float: right;
 
  }
  .burger::before,
  .burger::after {
    margin-left: 7px;
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 70%;
    height: 3px;
    border-radius: 50px;
    
    background: #ffffff;
  }
  .burger::before {
    margin-top: 10px;

    top: 0;
    box-shadow: 0 14px 0  #ffffff;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    
  }
  .burger::after {
    margin-bottom: 10px;
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
    
  }


  .burger-checkbox:checked + .burger::before {
    margin-top: 0px;
    top: 23px;
    transform: rotate(45deg);
    box-shadow: 0 10px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
    margin-top: 0px;
    bottom: 15px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }

  
  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #9EAF7C;;
    list-style-type: none;
    transform: translateX(550%);
    transition: .3s;
    width: 300px;
    border-radius: 5%;
  }
  .menu-item {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item:hover {
    background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }

.menu-list2dv {
    margin: -65px 10px 10px 100px;
}

.menu-list2 {
    

}

.menu-list2, li {
    list-style-type: none;
    display: inline;
}

.menu-item2 {
    display: block;
    padding: 8px;
    color: white;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline;
  }






















.cards {
    display: flex;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;

}

.wrapper {
    display: flex;
    position: absolute;

    margin: 30px 30px 30px 30px;

}


.znach1 {
    padding: 5px 50px 50px 0px;

    
}

.znach2 {
    list-style-type: none;
    display: inline;
    
}

.znach2__item {
    list-style-type: none;
    display: inline;
    display: block;
    display: inline;
    
}







.dos {
    padding: 50px 10px 10px 0px;


}

.dost {
    margin: -60px 120px 10px 70px;
}

.dost {
    margin: -60px 120px 10px 70px;
}

.sktb {
    padding-left: 190px;
    display: flex;
    justify-content: end;

}




.first {
    display: flex;
    background: url(imgages/Group\ 58.jpg) 50%/ cover no-repeat;

    width: 100%;
    height: 100%;
    object-fit: cover;
    

}


.umb {
    padding-left: 5px;
    padding-right: 70px;
}

body {
    margin: 0px -190px 0px 0px;
    font-family: 'Inter', 'san-seif';

    background-color: #F3F1EC;
}

.landing {
    display: flex;
    padding-top: 8.125rem;
    margin-bottom: 50px;



}

.Kaz {
    padding-left: 20px;

}

.hrt1 {
    margin-top: 80px;
    margin-left: -80px;
    margin-bottom: -65px;
}

.hrt2 {
    margin-top: 0px;
    margin-left: 130px;
    margin-bottom: -65px;
}

.pic1 {

    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    width: 200px;

}

.b1 {
    padding-top: 44px;
    padding-left: 0px;
}

.nich {
    display: flex;
    background: url(imgages/Desktop\ -\ 7.jpg) 50%/ cover no-repeat;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.contact {


    margin-top: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mapp {
    margin-top: 50px;
    margin-bottom: -20px;
    width: 100%;
    height: 319px;
    object-fit: none;
}

.sofa {
    margin-top: 100px;
    background-image: url("imgages/sofa64.png");

    height: 600px;
    background-repeat: no-repeat;
    background-size: contain
    
}
.sofa2 {
    background-image: url("imgages/sofa.png");
    height: 600px;
    background-repeat: no-repeat;
    background-size: contain
}


@media (max-width: 768px)
{
    .sofa{
        display: block;
    }
    .sofa2{
        display: none;
    }
    .pic1 {

        width: 100%;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        flex-grow: 0;
        width: 200px;
    
    }
    .akder1 {
        display: none;
    }

    .akder2 {
        display: none;
    }

    .akder3 {
        display: none;
    }
    .but111 {
        display: none;
    }

    .menu {
        display: block;
    }

    .menu-list2 {
        display: none;
    }
    .gmap1 {
        display: block;
    }
    .gmap2 {
        display: none;
    }

    .znach2 {
        display: none;
    }
    .znach1 {
        display: block;
    }
}

@media (min-width: 769px)
{
    .sofa{
        display: none;
    }
    .sofa2{
        display: block;
        margin-bottom: 300px;
    }
    .pic1 {

        width: 100%;
        margin-inline: auto;
        display: flex;
        justify-content: center;
        margin: 10% 0% 0% 100%;
        flex-grow: 0;
        width: 500px;
    
    }
    .trikar {
        margin: -600px 0% 50% 0%;
    }

    .akder {
        display: none;
    }
 

    .akder1 {
        display: block;
        margin-left: 200px;
    }

    .akder2 {
        display: block;
    }

    .akder3 {
        display: block;
    }
    .menu {
        display: none;
    }
    .menu-list2 {
    display: block;
    }

    .gmap1 {
        display: none;
    }
    .gmap2 {
        display:block ;
    }
    .basement {
        display: none;
    }
    
    .znach2 {
        display: block;
    }
    .znach1 {
        display: none;
    }
}




.obiz {
    margin-left: 50px;
}

.section_1 {
    padding: 60px 60px 80px 30px;
    background: transparent;



}

.linee {
    padding: 0px 0px 40px 0px;
}

.ocomp {
    position: relative;
    margin: -60px 0px 50px 120px;
}

.ocomp2 {
    position: relative;
    margin: -60px 0px 50px 80px;
}

.ocomp3 {
    position: relative;
    margin: -60px 0px 50px 130px;
}

.section_1 h2 {
    color: var(--Wtext-color);
    font-size: 2.125rem;
    font-weight: 300;
    padding: 0 .8125rem;
    font-family: Inter;
    font-style: normal;
}

.section_1 p {
    color: var(--Wtext-color);
    font-family: Philosopher;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 0 .1875rem;
}
.section_1 .p18{
    color: var(--Btext-color);

    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
}

.section_2 {
    margin: 35px 30px 50px 10px ;
    background: transparent;
}

.section_3 {
   
    margin: 35px 30px px 55px ;
    background: transparent;
 
    


}

.second {
    margin: 30px 10px 10px 0px;
    display: flex;
    background-repeat: no-repeat;


}

.section_5 {
    padding: 60px 0px 0px 50px;
}

.section_6 {
    padding: 0px 30px 80px 30px;
    background: transparent;
}

.section_7 {
    padding: 1500px 30px 80px 30px;
    background: transparent;
}

.bl1 {
    border-radius: 20px;
    background: #FFF;
    width: 300px;
    height: 561px;
    flex-shrink: 0;
    margin-top: 20px;
}

.bl2 {
    width: 300px;
    height: 492px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    margin-top: 20px;
}

.bl3 {
    width: 300px;
    height: 402px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    margin-top: 20px;
}

.nname {
    padding: 10px 10px 10px 0px;
}

.phon {
    padding: 10px 10px 10px 0px;
}

.vvod {
    padding: 10px 10px 10px 0px;
}

.oszv {
    padding: 10px 10px 100px 0px;
}

.od {
    position: absolute;
    margin: -190px 0px 50px 80px;
}

.ad {
    position: absolute;
    margin: -190px 100px 50px 80px;
}

.ed {
    position: absolute;
    margin: -245px 100px 50px 80px;
}

.od1 {
    position: absolute;
    margin: -165px 0px 50px 80px;
}

.ads {
    position: absolute;
    margin: -135px 54px 50px 80px;
}

.ods {
    position: absolute;
    margin: -135px 50px 50px 80px;
}

.eds {
    position: absolute;
    margin: -190px 53px 50px 80px;
}









.vverh {
    margin: -620px 35px 35px 35px;
}



.akder {
    border-radius: 8%;
    box-shadow: rgba(0, 0, 0, 0.089) 3px 3px 1px 1px;
    background-color: #efeae9ea;
    width: 200px;
    margin: 10px;
    padding: 10px;
}

.akder1 {
    border-radius: 8%;
    box-shadow: rgba(0, 0, 0, 0.089) 3px 3px 1px 1px;
    background-color: #efeae9ea;
    width: 330px;
    margin: -900px 0px 0px 10%;
    padding: 10px;
}

.akder2 {
    border-radius: 8%;
    box-shadow: rgba(0, 0, 0, 0.089) 3px 3px 1px 1px;
    background-color: #efeae9ea;
    width: 350px;
    margin: -120px 0px 140px 60%;
    padding: 10px;
}
.akder3 {
    border-radius: 8%;
    box-shadow: rgba(0, 0, 0, 0.089) 3px 3px 1px 1px;
    background-color: #efeae9ea;
    width: 350px;
    margin: 0px 0px 10% 50%;
    padding: 10px;
}
















.Obis {}

.right {
    color: var(--Wtext-color);
    font-family: Inter;
    font-size: 2.125rem;
    font-weight: 300;
    line-height: normal;

}

p {
    color: var(--Btext-color);

    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.pp {
    color: var(--Wtext-color);

    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Ulmb {
    margin-left: -9px;
}

h2 {
    color: var(--Wtext-color);
    font-family: Inter;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0px;

}

h3 {
    color: var(--h3text-color);
    font-family: Philosopher;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.bgc {
    background-color: #F3F1EC;
    background-size: 50%;
}

.p18 {
    color: var(--Btext-color);

    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.kt {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.p16 {
    color: var(--Btext-color);

    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.H1H {
    color: var(--Wtext-color);


    font-family: Philosopher;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto 3.75rem;
}

.H2R {
    color: var(--Wtext-color);

    font-family: Philosopher;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.H2Text {
    color: var(--Wtext-color);

    font-family: Inter;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -2.04px;
}

.H2v {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.PText {
    color: var(--Wtext-color);

    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.08px;
}

.HT1 {
    color: #FFF;

    font-family: Inter;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.92px;
}

.people {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.bs {
    color: var(--Wtext-color);

    font-family: Philosopher;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 179.182%;
    text-decoration: none;
}

.cl {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height
}


.basement {
    height: 51.3rem;
    background-color: #9EAF7C;
}
.gmap1 {


}

.gmap2 {

}




.txt {
    padding: 50px 20px 20px 50px;

}

.ppc {
    padding-left: 90px;
}

.but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27rem;
    height: 5.8rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background: var(--gr-text-color);
    border: none;
}

.but11 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 5.8rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: var(--gr-text-color);
    border: none;
    margin: -8% 1% 5% 1%;

}

.com {
    display: flex;
    width: 300px;
    height: 48px;
    padding: 0px 206px 0px 21px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: var(--White, #FFF);
    border: none;
}

.com2 {
    display: inline-flex;
    height: 110px;
    padding: 19px 158px 81px 21px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--White, #FFF);
    border: none;
    overflow: hidden;
    resize: none;

}

button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.ln {
    width: 17.609px;
    height: 1.25px;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--Wtext-color);
}

.bb1 {
    width: 301.154px;
    height: 406.558px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Wtext-color);
    border: none;
}



.csl {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    fill: #9EAF7C;
}

@media (max-width: 768px) {
  
}