:root {
    --Wtext-color: #ffffff;
    --h3text-color: #4B4B4B;
    --gr-text-color: #9EAF7C;
    --Btext-color: #000;
    font-size: 62.5%;

}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/philosopher-v19-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/philosopher-v19-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    padding-right: 170px;
    justify-content: space-between;
}

.cards {
    display: flex;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;

}

.wrapper {
    position: absolute;
    max-width: 716px;
    margin: 30px 0px 0px 20px;

}

.dos {
    padding: 50px 10px 10px 0px;


}

.dost {
    margin: -90px 10px 10px 70px;

}

.sktb {
    padding-left: 190px;
    display: flex;
    justify-content: end;

}

.first {
    display: flex;
    background: url(imgages/Group\ 58.jpg) 50%/ cover no-repeat;
    margin-top: -10px;
    width: 100%;
    height: 100%;
    object-fit: cover;



}

.umb {
    padding-left: 50px;
    padding-right: 70px;
}

body {
    margin: 0;
    font-family: 'Inter', 'san-seif';

    background-color: #F3F1EC;
}

.landing {
    display: flex;
    padding-top: 8.125rem;



}

.Kaz {
    padding-left: 20px;

}

.hrt1 {
    margin-top: 80px;
    margin-left: -80px;
    margin-bottom: -65px;
}

.hrt2 {
    margin-top: 0px;
    margin-left: 130px;
    margin-bottom: -65px;
}

.pic1 {

    width: 100%;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    width: 200px;

}

.b1 {
    padding-top: 44px;
    padding-left: 30px;
}

.nich {
    display: flex;
    background: url(imgages/Desktop\ -\ 7.jpg) 50%/ cover no-repeat;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.contact {


    margin-top: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mapp {
    margin-top: 50px;
    margin-bottom: -20px;
    width: 100%;
    height: 319px;
    object-fit: none;
}

.sofa {
    margin-top: 100px;
    background-image: url(imgages/sofa.png);
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.obiz {
    margin-top: -150px;
}

.section_1 {
    padding: 60px 30px 80px 30px;
    background: transparent;



}

.linee {
    padding: 0px 0px 40px 0px;
}

.ocomp {
    position: absolute;
    margin: -60px 0px 50px 120px;
}

.ocomp2 {
    position: absolute;
    margin: -60px 0px 50px 80px;
}

.ocomp3 {
    position: absolute;
    margin: -60px 0px 50px 130px;
}

.section_1 h2 {
    color: var(--Wtext-color);
    font-size: 2.125rem;
    font-weight: 300;
    padding: 0 .8125rem;
    font-family: Inter;
    font-style: normal;
}

.section_1 p {
    color: var(--Wtext-color);
    font-family: Philosopher;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 0 .1875rem;
}

.section_2 {

    background: transparent;
    margin-bottom: 30px;
}

.section_3 {

    padding: 0.75rem 5.75rem;
    background: transparent;
    margin-top: 100px;
    margin-left: -15px;


}

.second {
    margin: 10px 10px 10px 0px;
    display: flex;
    background-repeat: no-repeat;


}

.section_5 {
    padding: 60px 0px 0px 50px;
}

.section_6 {
    padding: 0px 30px 80px 30px;
    background: transparent;
}

.section_7 {
    padding: 1500px 30px 80px 30px;
    background: transparent;
}

.bl1 {
    border-radius: 20px;
    background: #FFF;
    width: 300px;
    height: 561px;
    flex-shrink: 0;
    margin-top: 20px;
}

.bl2 {
    width: 300px;
    height: 492px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    margin-top: 20px;
}

.bl3 {
    width: 300px;
    height: 402px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    margin-top: 20px;
}

.nname {
    padding: 10px 10px 10px 0px;
}

.phon {
    padding: 10px 10px 10px 0px;
}

.vvod {
    padding: 10px 10px 10px 0px;
}

.oszv {
    padding: 10px 10px 100px 0px;
}

.od {
    position: absolute;
    margin: -190px 0px 50px 80px;
}

.ad {
    position: absolute;
    margin: -190px 100px 50px 80px;
}

.ed {
    position: absolute;
    margin: -245px 100px 50px 80px;
}

.od1 {
    position: absolute;
    margin: -165px 0px 50px 80px;
}

.ads {
    position: absolute;
    margin: -135px 54px 50px 80px;
}

.ods {
    position: absolute;
    margin: -135px 50px 50px 80px;
}

.eds {
    position: absolute;
    margin: -190px 53px 50px 80px;
}



.Obis {}

.right {
    color: var(--Wtext-color);
    font-family: Inter;
    font-size: 2.125rem;
    font-weight: 300;
    line-height: normal;

}

p {
    color: var(--Btext-color);

    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.pp {
    color: var(--Wtext-color);

    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Ulmb {
    margin-left: -9px;
}

h2 {
    color: var(--Wtext-color);
    font-family: Inter;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0px;

}

h3 {
    color: var(--h3text-color);
    font-family: Philosopher;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.bgc {
    background-color: #F3F1EC;
    background-size: 50%;
}

.p18 {
    color: var(--Btext-color);

    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.kt {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.p16 {
    color: var(--Btext-color);

    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.H1H {
    color: var(--Wtext-color);


    font-family: Philosopher;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto 3.75rem;
}

.H2R {
    color: var(--Wtext-color);

    font-family: Philosopher;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.H2Text {
    color: var(--Wtext-color);

    font-family: Inter;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -2.04px;
}

.H2v {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.PText {
    color: var(--Wtext-color);

    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.08px;
}

.HT1 {
    color: #FFF;

    font-family: Inter;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.92px;
}

.people {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.bs {
    color: var(--Wtext-color);

    font-family: Philosopher;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 179.182%;
}

.cl {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height
}


.basement {
    height: 51.3rem;
    background-color: #9EAF7C;
}
.txt {
    padding: 50px 20px 20px 50px;
}
.ppc {
    padding-left: 90px;
}
.but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 5.8rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background: var(--gr-text-color);
    border: none;
}

.but2 {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30rem;
    height: 5.8rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background: var(--gr-text-color);
    border: none;
}

.com {
    display: flex;
    width: 300px;
    height: 48px;
    padding: 0px 206px 0px 21px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: var(--White, #FFF);
    border: none;
}

.com2 {
    display: inline-flex;
    height: 110px;
    padding: 19px 158px 81px 21px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--White, #FFF);
    border: none;
    overflow: hidden;
    resize: none;

}

button {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}

.ln {
    width: 17.609px;
    height: 1.25px;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--Wtext-color);
}

.bb1 {
    width: 301.154px;
    height: 406.558px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Wtext-color);
    border: none;
}



.csl {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    fill: #9EAF7C;
}