:root {
    --Wtext-color: #ffffff;
    --h3text-color: #4B4B4B;
    --gr-text-color: #9EAF7C;
    --Btext-color: #000;
    font-size: 62.5%;

}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/philosopher-v19-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Philosopher';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/philosopher-v19-latin-700italic.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */

@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-top: 20px;
    padding-left: 68px;
    padding-right: 45px;
    
}
.wrapper {
    margin-left: 0px;
    margin-right: 0px;
}
.dos {
    padding-top: 20px;
    padding-left: 0px;
    
}
.dost {
    margin: -80px -20px -10px 55px;
    
}
.sktb {
    
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding-left: 270px ;
}
   
.first {
    display: flex;
    
}
body {
    margin: 0;
    font-family: 'Inter', 'san-seif';

    background-color: #F3F1EC;
}
.landing {
    display: flex;
    background-image: url(imgages/Group\ 58.jpg);
    padding-top: 8.125rem;
    background-repeat: no-repeat;
    background-size: 85% auto;


}
.Kaz {
    padding-left: 20px;
    
}
.hrt1{
    margin-top: 100px;
    margin-left: -80px;
    margin-bottom: -65px;
}
.hrt2{
    margin-top: 0px;
    margin-left: 130px;
    margin-bottom: -65px;
}
.pic1 {
    
        width: 7%; /* Ширина */
        float: left; /* Выстраиваем элементы по горизонтали */
        margin: 0 0 0 3.5%; /* Отступ слева */
        background: #f0f0f0; /* Цвет фона */
        border-radius: 5px; /* Радиус скругления */
        padding: 2%; /* Поля */
}
.b1 {
    padding-top: 44px;
}
.nich {
    background-image: url(imgages/sl2.jpg);
    background-repeat: no-repeat;
}

.map {
    background-image: url(imgages/map.jpg);
    background-repeat: no-repeat;
}

.sofa {
    background-image: url(imgages/sofa.png);
    background-repeat: no-repeat;
}

.section_1 {
    padding: 3.75rem 5.75rem;
    background: transparent;
    margin-left: 17px;


}

.section_1 h2 {
    color: var(--Wtext-color);
    font-size: 2.125rem;
    font-weight: 300;
    padding: 0 .8125rem;
    font-family: Inter;
    font-style: normal;
}

.section_1 p {
    color: var(--Wtext-color);
    font-family: Philosopher;
    font-size: 2.5rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    padding: 0 .1875rem;
}

.right {
    color: var(--Wtext-color);
    font-family: Inter;
    font-size: 2.125rem;
    font-weight: 300;
    line-height: normal;
    
}

.p {
    color: var(--Btext-color);

    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.pp {
    color: var(--Wtext-color);

    font-family: Inter;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.Ulmb{
    margin-left: -9px;
}
h2 {
    color: var(--Wtext-color);
    font-family: Inter;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0px;

}

h3 {
    color: var(--h3text-color);
    font-family: Philosopher;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.bgc {
    background-color: #F3F1EC;
    background-size: 50%;
}

.p18 {
    color: var(--Btext-color);

    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.kt {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.p16 {
    color: var(--Btext-color);

    font-family: Inter;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.H1H {
    color: var(--Wtext-color);


    font-family: Philosopher;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: auto 3.75rem;
}

.H2R {
    color: var(--Wtext-color);

    font-family: Philosopher;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.H2Text {
    color: var(--Wtext-color);

    font-family: Inter;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -2.04px;
}

.H2v {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 3.8rem;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.PText {
    color: var(--Wtext-color);

    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.08px;
}

.HT1 {
    color: #FFF;

    font-family: Inter;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.92px;
}

.people {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.bs {
    color: var(--Wtext-color);

    font-family: Philosopher;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 179.182%;
}

.cl {
    color: var(--Btext-color);

    font-family: Philosopher;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height
}

.basement {
    width: 61.8rem;
    height: 51.3rem;
    background-color: #9EAF7C;
}

.but {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30rem;
    height: 5.8rem;
    flex-shrink: 0;
    border-radius: 1rem;
    background: var(--gr-text-color);
    border: none;
}

.com {
    display: flex;
    width: 300px;
    height: 48px;
    padding: 0px 206px 0px 21px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: var(--White, #FFF);
    border: none;
}

.com2 {
    display: inline-flex;
    height: 110px;
    padding: 19px 158px 81px 21px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--White, #FFF);
    border: none;
    overflow: hidden;
    resize: none;

}

.smbt {
    /* padding: 13px; */
    border-radius: 3.75rem;
    background: #9EAF7C;
    border: none;
    width: 45px;
    height: 45px;
    /* margin-right: 8rem; */
}

.ln {
    width: 17.609px;
    height: 1.25px;
    flex-shrink: 0;
    border-radius: 100px;
    background: var(--Wtext-color);
}

.bb1 {
    width: 301.154px;
    height: 406.558px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--Wtext-color);
    border: none;
}



.csl {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    fill: #9EAF7C;
}